@model SocialMedia_App.Core.Application.ViewModels.Login.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@section Sidebar {
    <div class="col-md-2 col-sm-3 col-xl-2 bg-dark sidebar vh-100">
        <ul class="nav nav-pills flex-column mb-auto">
            @*   <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="@Url.Action("Index", "Home")">
        <i class="fas fa-home"></i> Inicio
        </a>
        </li>
        <li>
        <a class="nav-link text-white" href="@Url.Action("Index", "Friendship")">
        <i class="fas fa-user-friends"></i> Amigos
        </a>
        </li>
        <li>
        <a class="nav-link text-white" href="@Url.Action("Index", "Profile")">
        <i class="fas fa-user"></i> Mi Perfil
        </a>
        </li> *@
        </ul>
    </div>
}

<div class="container mt-5">
    <div class="row justify-content-center">
        @{
            if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["SuccessMessage"]
                </div>
            }
            if (TempData["PasswordReset"] != null)
            {
                <div class="alert alert-success" role="alert">
                    @TempData["PasswordReset"]
                </div>
            }
            @if (TempData["NoAccess"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["NoAccess"]
                </div>
            }
        }

        <div class="col-md-8 col-sm-12 col-lg-6">
            <div class="card p-3 bg-primary bg-opacity-10 mb-5">
                <div class="card-header bg-opacity-50 bg-primary">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, " ", new {@class = "text-danger" })
                    <form asp-controller="Login" asp-action="Index" method="post">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control">
                        </div>
                        <div class="mb-3">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Iniciar sesión</button>
                        <a asp-controller="User" asp-action="Register" class="btn btn-secondary mb-2">Registrarme</a>
                        <div class="mt-3">
                            <a asp-controller="User" asp-action="ResetPassword" class="text-dark">Olvidé mi contraseña</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


