@using SocialMedia_App.Core.Application.ViewModels.Friendship
@using SocialMedia_App.Core.Application.ViewModels.User
@using SocialMedia_App.Core.Application.ViewModels.Comment
@model FriendshipHomeViewModel
@inject IHttpContextAccessor httpContext;
@using Microsoft.AspNetCore.Http;
@using SocialMedia_App.Core.Application.Helpers;
@{
    UserViewModel User = httpContext.HttpContext.Session.Get<UserViewModel>("user");
    ViewData["Title"] = "Amigos";
}

@section Sidebar {
    <div class="col-md-3 col-xl-2 bg-dark sidebar vh-100">
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a class="nav-link active text-white" asp-controller="Home" asp-action="Index" asp-route-id="@User.Id">
                    <i class="fas fa-home"></i> Inicio
                </a>
            </li>
            <li>
                <a class="nav-link text-white" aria-current="page" asp-controller="Friendship" asp-action="Index" asp-route-id="@User.Id">
                    <i class="fas fa-user-friends"></i> Amigos
                </a>
            </li>
            <li>
                <a class="nav-link text-white" asp-controller="Profile" asp-action="Edit" asp-route-id="@User.Id">
                    <i class="fas fa-user"></i> Mi Perfil
                </a>
            </li>
        </ul>
    </div>
}
<h4 class="mt-3 text-center text-primary">Tus amigos</h4>

@{
    var successMessage = ViewBag.SuccessMessage;
    var errorMessage = ViewBag.ErrorMessage;
}
@if (successMessage != null)
{
    <div class="alert alert-success">
        @successMessage
    </div>
}

@if (errorMessage != null)
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}

@* lista de amigos *@
<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-end mb-3">
            <a asp-controller="Friendship" asp-action="AddFriend" class="btn btn-primary">
                Buscar amigos
            </a>
        </div>
        <div class="col-md-12">
            <h6>Lista de amigos</h6>
            
            @if (Model.Friends.Any())
            {
                <ul class="list-group">
                    @foreach (var friend in Model.Friends)
                    {
                        <li class="list-group-item">
                            <div class="d-flex justify-content-between align-items-center w-100">
                                <div class="d-flex align-items-center">
                                    <img src="@friend.ProfilePictureUrl" class="rounded-circle me-2" width="40" height="40" alt="Foto de perfil">
                                    <div>
                                        <div class="text-primary fw-bold">@friend.UserName</div>
                                        <div>@friend.Name @friend.LastName</div>
                                    </div>
                                </div>
                                <a asp-controller="Friendship" asp-action="Delete" asp-route-friendshipId="@friend.FriendshipId" class="btn btn-danger btn-sm">
                                    Eliminar
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            }
            else
            {
                <p>No tienes amigos agregados.</p>
            }
        </div>
    </div>
</div>

@* post de los amigos *@
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                @if (Model == null || Model.FriendPosts.Count == 0)
                {
                    <p>No hay publicaciones disponibles.</p>
                }
                else
                {
                    foreach (var post in Model.FriendPosts)
                    {
                        <div class="card col-md-10 card my-3">
                            <div class="card-header d-flex">
                                <div class="d-flex align-items-center col-md-4">
                                    <img src="@post.UserImageUrl" class="rounded-circle me-2" width="40" height="40" alt="Foto de perfil">
                                    <span class="mx-2 fw-bold text-primary">@post.UserName</span>
                                    <span class="mx-2 text-secondary col-12">@post.CreationDate</span>
                                </div>
                            </div>
                            <div class="card-body">
                                @if (!string.IsNullOrWhiteSpace(post.Content))
                                {
                                    <p>@post.Content</p>
                                }
                                @if (!string.IsNullOrWhiteSpace(post.PostImageUrl))
                                {
                                    <img src="@post.PostImageUrl" width="400" height="400" alt="Imagen de la publicación">
                                }
                                @if (!string.IsNullOrWhiteSpace(post.YouTubeLink))
                                {
                                    <div class="embed-responsive embed-responsive-16by9 mt-2 style="width: 720px;">
                                        <iframe class="embed-responsive-item" src="@post.YouTubeLink" allowfullscreen></iframe>
                                    </div>
                                }

                                @* Mostrar comentarios *@
                                @foreach (var comment in post.Comments)
                                {
                                    <div class="card mt-3">
                                        <div class="card-body bg-opacity-10 bg-primary">
                                            <div class="d-flex align-items-center bg-secondary bg-opacity-10">
                                                <img src="@comment.UserImageUrl" class="rounded-circle me-2" width="40" height="40" alt="Foto de perfil">
                                                <div>
                                                    <span class="text-primary fw-bold mx-2">@comment.UserName</span>
                                                    <span class="mx-2 text-secondary col-12">@comment.CreationDate</span>
                                                </div>
                                            </div>
                                            <p class="mt-2">@comment.Content</p>

                                            @* Mostrar replies de comentarios DENTRO del card del comentario padre *@
                                            @foreach (var reply in comment.Replies)
                                            { 
                                                <div class="card-body bg-opacity-10 bg-info mx-2">
                                                    <div class="d-flex align-items-center bg-secondary bg-opacity-10">
                                                        <img src="@reply.UserImageUrl" class="rounded-circle me-2" width="40" height="40" alt="Foto de perfil">
                                                        <div>
                                                            <span class="text-primary fw-bold mx-2">@reply.UserName</span>
                                                            <span class="mx-2 text-secondary col-12">@reply.CreationDate</span>
                                                        </div>
                                                    </div>
                                                    <p class="mt-2">@reply.Content</p>
                                                </div>
                                            }
                                        </div>

                                        <div class="card-footer text-muted">
                                           @*  para crear respuestas a comentarios padres *@
                                            <form asp-controller="Comment" asp-action="Create" method="post">
                                                <input type="hidden" name="ReturnUrl" value="@ViewContext.HttpContext.Request.Path" />
                                                <input type="hidden" asp-for="NewComment.PostId" value="@post.Id" />
                                                <input type="hidden" asp-for="NewComment.UserId" value="@User.Id" />
                                                <input type="hidden" asp-for="NewComment.ParentCommentId" value="@comment.Id" />
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder="Responder..." asp-for="NewComment.Content" />
                                                    <div class="input-group-append">
                                                        <button class="btn btn-outline-secondary" type="submit">Responder</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                            </div>
                            <div class="card-footer text-muted">
                                @*  para comentar el post *@
                                <form asp-controller="Comment" asp-action="Create" method="post">
                                    <input type="hidden" name="ReturnUrl" value="@ViewContext.HttpContext.Request.Path" />
                                    <input type="hidden" asp-for="NewComment.PostId" value="@post.Id" />
                                    <input type="hidden" asp-for="NewComment.UserId" value="@User.Id" />
                                    <div class="input-group mb-3">
                                        <input type="text" class="form-control" placeholder="Escribe un comentario..." asp-for="NewComment.Content" />
                                        <div class="input-group-append">
                                            <button class="btn btn-outline-secondary" type="submit">Comentar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
