@model SocialMedia_App.Core.Application.ViewModels.Login.LoginViewModel

@{
    ViewData["Title"] = "Reset Password";
}
<div class="col-md-3 col-xl-2 bg-dark sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        @*   <li class="nav-item">
        <a class="nav-link active text-white" aria-current="page" href="@Url.Action("Index", "Home")">
        <i class="fas fa-home"></i> Inicio
        </a>
        </li>
        <li>
        <a class="nav-link text-white" href="@Url.Action("Index", "Friendship")">
        <i class="fas fa-user-friends"></i> Amigos
        </a>
        </li>
        <li>
        <a class="nav-link text-white" href="@Url.Action("Index", "Profile")">
        <i class="fas fa-user"></i> Mi Perfil
        </a>
        </li> *@
    </ul>
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card p-3 bg-primary bg-opacity-10 mb-5">
                <div class="card-header bg-opacity-50 bg-primary">
                    <h3 class="text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    @Html.ValidationSummary(false, " ", new { @class = "text-danger" })
                    <form asp-controller="User" asp-action="ResetPassword" method="post">
                        <p class="text-primary mb-2">Coloque su nombre de usuario:</p>
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario</label>
                            <input asp-for="Username" class="form-control">
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Reestablecer Contraseña</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>